.card img {
    width: 300px;
    height: auto;
    cursor: pointer; 
  }

  
  .card {
    border: 6px solid #ffffff;
    box-shadow: 0 0 10px 4px #acacac;
    margin: 10px 0;
  }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
